.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffb459;
}
.main-title {
  color: #ffffff;
  font-size: 3rem;
}
